
body{
  text-align: justify;
  margin: 0 ;
  }
  .catalogo{
    background-color:#ffd506c2 ;
  }
.catalogo h1{
  display: inline-block;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 2px;
  font-size:56px;
  left: 1;
  opacity: 1;
  color: black;
  color: #9c8618db;
  background-color: #ffd506c2;
}

.catalogo h6{
  position:static;
  padding-left:110px;
  padding-bottom:16px;
  font-size: 19px;
    opacity: 1;
    color: black;
    color: #9c8618db;
    background-color: #ffd506c2;

  }

#button{
  text-decoration: none;
  text-align: center;
  color: black;
    font-family:cursive;
  }
#button:hover{
    color: blue;
    
}
hr{
background-color: #edc70d;
color: #edc70d;
height: 3px;
border: none;
}


/*
IMAGENS
*/

.zoom{
  display: inline-grid;
  position: relative;
  margin:2px;
}
.zoom img{
  max-width: 70%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;

}
.zoom:hover img{
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.text-item{
  position: relative;
  left: 1;
  right: 6%;
  bottom: 100px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFFFFF;
  text-align: center;
  font-weight:700 ;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
.link-item{
  display: flex;
  position: relative;
  bottom: 59px;
  right: -55%;
  z-index: 10;
  text-align: center;
  font-weight:700 ;
}
.row{
  text-align: center;
}
a{
  text-decoration: none;
  color: #00000000;
}
a:hover{
  color: #000000;
}
.p-class{
  display: inline-block;
  position: relative;
  color: #00000060;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding-left: 120px;
}
